In [ ]:
Q1.

In [ ]:
1- A database is a structured collection of data organized and stored in a way that allows efficient retrieval, updating, and management of information. It is designed to store and manage large volumes of data, providing an organized and structured way to access and manipulate that data.
2- SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems with distinct approaches to data storage and retrieval. 
for example we compare sql and mongodb(NoSql)
sql                    mongodb(NoSql)
 |                         |
Database                Database 
 |                         |
Table                   Collection
 |                         |
column                   field
 |                         |
Row                      value

In [ ]:
Q2.

In [ ]:
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a relational database. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and constraints.
CREATE (used for creating a table)
CREATE TABLE table_name(column1 field1,..);
DROP (used for deleting the table)
DROP TABLE table_name;
ALTER (used for add,rename in table)
ALTER TABLE table_name ADD column field;
TRUNCATE (used to delete all row data from the table except column)
TRUNCATE TABLE table_name

In [ ]:
Q3.

In [ ]:
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to interact with the data stored in a relational database. DML statements are responsible for inserting, updating, and deleting data within database tables.
INSERT
INSERT INTO table_name (column1, column2, column3, ...) VALUES (value1, value2, value3, ...);
UPDATE
UPDATE table_name SET column1 = value1, column2 = value2, ... WHERE condition;
DELETE
DELETE FROM table_nameWHERE condition;

In [ ]:
Q4.

In [ ]:
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a relational database. DQL statements primarily consist of the SELECT statement, which allows users to query and fetch specific data from database tables.
SELECT
SELECT * FROM table_name;

In [ ]:
Q5.

In [ ]:
PRIMARY KEY
A primary key is a column or a combination of columns in a table that uniquely identifies each row in the table. It serves as a unique identifier for the records in the table and ensures that no two rows can have the same primary key value.
It must have a unique value for each row in the table.
It cannot contain NULL values, as it must be populated for every record.
A table can have only one primary key.

FOREIGN KEY
A foreign key is a column or a combination of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, where the foreign key in one table references the primary key in another table.

In [ ]:
Q6.

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="user_name",
    password="password"
)
#for execution
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASE")

#cursor()
it is a method provided by database connection objects to create a cursor object. A cursor is used to interact with a database and execute SQL queries or statements. It allows you to fetch, insert, update, and delete data from the database.

#execute()
it is a method provided by database cursor objects to execute SQL queries or statements against a database. It is used to perform various operations, such as creating tables, inserting data, updating records, deleting records, and retrieving data from the database.

In [ ]:
Q7.

In [ ]:

In SQL, the order of execution of clauses in an SQL query generally follows the logical order of the SQL statement. The basic structure of a SQL query typically includes the following clauses, and they are executed in the following order:

1.SELECT: The SELECT clause is used to specify which columns or expressions to include in the query result. It is executed first to retrieve the desired data from the database.

2.FROM: The FROM clause is used to specify the table or tables from which the data should be retrieved. It is executed after the SELECT clause to determine the source of the data.

3.WHERE: The WHERE clause is used to filter the rows returned by the query based on specific conditions. It is executed after the FROM clause to filter the data.

3.GROUP BY: The GROUP BY clause is used to group the rows based on specified columns. It is executed after the WHERE clause to create groups of data.

4.HAVING: The HAVING clause is used to filter the grouped rows based on specific conditions. It is executed after the GROUP BY clause to filter the grouped data.

5.ORDER BY: The ORDER BY clause is used to sort the query result based on specified columns or expressions. It is executed after the HAVING clause to sort the final result.